{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roaming Routes !!| Home</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"><!-- for bootstrap icons-->
</head>
<style>
    .navbar {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
</style>

<body>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-lg" style="width: 100%; margin-left: 0; margin-right: 0; background-color: darkgrey;">
                    <div class="container-fluid">
                        <a class="navbar-brand text-white" href="/">Home</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li><a  class="navbar-brand text-white" href="{% url 'destination' %}">Destinations</a></li>
                                {% if user.is_authenticated %}
                                <li class="nav-item">
                                  <a class="nav-link text-white" href="/logout">Logout</a>
                                </li>
                                {% else %}
                                <li class="nav-item">
                                  <a class="nav-link text-white" href="/login">Login</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link text-white" href="/register">Register</a>
                                </li>
                                {% endif %}
                                
                            </ul>
                            
                            <form class="form-inline" role="search" method="GET" action="{% url 'search' %}">
                             <input class="form-control" type="text" name="query" placeholder="Search">
                            <button class="btn btn-outline-light" type="submit">Search</button>
                            </form> 
                        </div>
                    </div>
                </nav>
                
            </div> <!-- Navigation bar ends-->
        </div><!-- navigation row ends-->
        <!-- Header ends-->